
.Rproj.user/35DCC852/sources/per/t/671B2750-contents
*.pper
.Rproj.user/35DCC852/sources/per/t/671B2750
*.pper
*.pper
.Rproj.user/35DCC852/sources/prop/5F879820
.Rproj.user/35DCC852/sources/prop/3F8FC09E
*.pper
.Rproj.user/4B89BD02/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/4B89BD02/sources/session-C951111E/lock_file
